<nav class="navbar">
  <div class="navbar-left">
    <div class="navbar-logo">
      <img src="assets/images/logo.png" alt="Logo" class="logo">
    </div>
    <span class="app-name">Internify</span> <!-- Added app name -->
  </div>
  <div class="navbar-right">
    <a routerLink="/login" class="nav-link">Login</a>
    <a routerLink="/signup" class="nav-link">Sign Up</a>
    <a routerLink="/internships-offers" class="nav-link">Internships Offers</a>
    <a routerLink="/internships-demands" class="nav-link">Internships Demands</a>
    <a routerLink="/view" class="nav-link">Documents</a>
    <a routerLink="/chat" class="nav-link">Chat</a>
  </div>
</nav>


<div class="contract-container">
  <div class="card shadow-lg p-5">
    <h2 class="contract-title">Entreprise Contracts</h2>
    <div class="table-responsive">
      <table class="table table-bordered table-hover contract-table">
        <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let contract of contracts">
          <td>{{ contract.id }}</td>
          <td>{{ contract.startDate | date }}</td>
          <td>{{ contract.endDate | date }}</td>
          <td>
              <span class="badge" [ngClass]="getStatusClass(contract.status)">
                {{ contract.status }}
              </span>
          </td>
          <td>
            <button class="btn update-btn" [routerLink]="['/update-contract', contract.id]">
              Update
            </button>

            <button class="btn delete-btn" (click)="deleteContract(contract.id)">
              Delete
            </button>

            <button class="btn download-btn" (click)="downloadContract(contract.id)">
              Download
            </button>

          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
