<h2 class="demand-details-title">Demand Details</h2>

<div class="demand-details">
  <p class="demand-detail"><strong>Title:</strong> {{ demand?.title }}</p>
  <p class="demand-detail"><strong>Description:</strong> {{ demand?.description }}</p>
  <p class="demand-detail"><strong>Field:</strong> {{ demand?.field }}</p>
  <p class="demand-detail"><strong>Date:</strong> {{ demand?.date }}</p>
  <p class="demand-detail"><strong>Status:</strong> {{ demand?.status }}</p>
</div>

<!-- Back Button -->
<div class="back-button-container">
  <button class="btn btn-back" routerLink="/back-office/demand">Back to List</button>
</div>
